
<% if @article.errors.any? %>
    <div class="container">
        <div class="alert alert-warning" role="alert">
            <h3>Check the following: </h3>
            <ul>
                <% @article.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    </div>
<% end %>


    <%= form_for @article do |f| %>

    <div class="row mb-3">
        <div class="col-lg-3"><%= f.label :title, for: "title", class: "form-label" %></div>
        <div class="col-lg-9"><%= f.text_field :title,class: "form-control", id: "title", placeholder:"Enter the title" %></div>
    </div>
    <div class="row mb-3">
        <div class="col-lg-3"><%= f.label :description, for: "description", class: "form-label" %></div>
        <div class="col-lg-9"><%= f.text_field :description, class: "form-control", id: "description", placeholder:"Enter the description" %></div>
    </div>
    <div class="row mb-3">
        <%= f.submit class: "btn btn-primary" %> 
    </div>

    <% end %>
    

    <div class="text-center">
        [ <%= link_to "Back to articles listing", articles_path %> ]
    </div>
