<div class="container mt-5">
    <% if @user.errors.any? %>
        <div class="container">
            <div class="alert alert-warning" role="alert">
                <h3>Check the following: </h3>
                <ul>
                    <% @user.errors.full_messages.each do |msg| %>
                        <li><%= msg %></li>
                    <% end %>
                </ul>
            </div>
        </div>
    <% end %>

    <h2 class="mb-3 text-center">Sign Up for Alpha Blog</h2>

    <%= form_for @user do |f| %>
        <div class="row mb-3">
            <div class="col-lg-3"><%= f.label :username, for: "username", class: "form-label" %></div>
            <div class="col-lg-9"><%= f.text_field :username,class: "form-control", id: "username", placeholder:"Enter your username" %></div>
        </div>
        <div class="row mb-3">
            <div class="col-lg-3"><%= f.label :email, for: "email", class: "form-label" %></div>
            <div class="col-lg-9"><%= f.email_field :email,class: "form-control", id: "email", placeholder:"Enter your email" %></div>
        </div>
        <div class="row mb-3">
            <div class="col-lg-3"><%= f.label :password, for: "password", class: "form-label" %></div>
            <div class="col-lg-9"><%= f.password_field :password, class: "form-control", id: "password", placeholder:"Enter your password" %></div>
        </div>
        <div class="row mb-3">
            <%= f.submit 'Sign Up', class: "btn btn-primary mt-3" %> 
        </div>
    <% end %>
</div>